<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/setting.js"></script>

</head>


<hader>
    <nav>
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/setting">Setting</a></li>
        </ul>
    </nav>
</hader>

<body>
    <div class="container-fluid">
    <h1><%= title %></h1>
        <div class="row">
            <div role="main" class="col-md-9">
<!-- 
                        <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add
                        </button> -->

                    <div class="panel panel-default">
                        <div class="panel-body">
                        <form method="POST" action="#/in" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">In/Out</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="in_out" id="in_out">
                                        <option value="in">In</option>
                                        <option value="out">Out</option>
                                    </select>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Type</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="type" id="action_type">
                                        <option value="voice">voice</option>
                                        <option value="sound">sound</option>
                                        <option value="tweet">tweet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 contorl-label">Contents</label>
                                <div class="col-sm-11">
                                    <input class="form-control" type="text" name="contents" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" type="submit" value="submit">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>

                 <div id="in">
                    <h2>IN</h2>
                        <div id="in_actions">
                            <ul class="list-group">
                            <% for(var i=0, len = in_actions.length; i < len; i++) { %>
                                <% var in_action = in_actions[i]; %>
                                    <li class="list-group-item" id="<%= in_action._id %>">
                                        <button type="button" class="btn btn-default btn-sm" onClick="testAction('<%= in_action.type %>','<%= in_action.contents %>')">
                                            <span class="glyphicon glyphicon-play-circle"></span> Play
                                        </button>
                                        <% if (in_action.type == "voice" ) { %>
                                            <span class="label label-success">voice</span>
                                        <% } else if (in_action.type == "sound") { %>
                                            <span class="label label-info">sound</span>
                                        <% } else { %>
                                            <span class="label label-warning">tweet</span>
                                        <% } %>
                                        <%= in_action.contents %>
                                        <button type="button" class="btn btn-default btn-sm pull-right" onClick="deleteAction('<%= in_action._id %>', 'in')">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                            <% } %>
                            </ul>
                        </div>
                 </div>
                 <div id="out">
                    <h2>OUT</h2>
                        <div id="out_actions">
                            <ul class="list-group">
                            <% for(var i=0, len = out_actions.length; i < len; i++) { %>
                                <% var out_action = out_actions[i]; %>
                                    <li class="list-group-item" id="<%= out_action._id %>">
                                        <button type="button" class="btn btn-default btn-sm" onClick="testAction('<%= out_action.type %>','<%= out_action.contents %>')">
                                            <span class="glyphicon glyphicon-play-circle"></span> Play
                                        </button>
                                        <% if (out_action.type == "voice" ) { %>
                                            <span class="label label-success">voice</span>
                                        <% } else if (out_action.type == "sound") { %>
                                            <span class="label label-info">sound</span>
                                        <% } else { %>
                                            <span class="label label-warning">tweet</span>
                                        <% } %>
                                        <%= out_action.contents %>
                                        <button type="button" class="btn btn-default btn-sm pull-right" onClick="deleteAction('<%= out_action._id %>', 'out')">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                            <% } %>
                            </ul>
                        </div>
                 </div>
            </div>
            <!-- TODO:サイドバー分離する -->
            <div role="sidebar" class="col-md-3">
                <aside>
                    <nav>
                        <div class="list-group">
                            <% for(var key in user_list) {%>
                                <% var user = user_list[key]; %>
                                    <a href="/setting/<%= user._id %>" class="list-group-item"><%= user.last_name %></a>
                            <% } %>
                        </div>
                    </nav>
                </aside>
            </div>

        </div>
    </div>
</body>
</html>